@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #020617;
  color: white;
  color-scheme: dark;
}

body {
  @apply font-sans antialiased bg-cyber-950 text-white min-h-screen text-slate-200;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display font-bold text-white tracking-tight;
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-xl;
}

/* Gradient text utility */
.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-cyber-500 to-cyber-400;
}
